.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 70px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: var(--dropColor);
  cursor: pointer;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

a:hover {
  color: var(--navHover);
}

@media screen and (max-width: 960px) {
  .dropdown-menu {
    width: 100%;
    position: absolute;
    top: 170px;
    list-style: none;
    text-align: center;
  }
}
