* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

:root {
  --linkColor: #fff;
  --navColor: #003300;
  --navHover: #00e676;
  --btnColor: #228b22;
  --btnColor2: #00bfff;
  --headColor2: #ffd700;
  --headColor3: #c0c0c0;
  --heroBg: #003300;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand";
}

h1 {
  font-size: 3rem;
  font-family: "Raleway";
}

h2 {
  font-size: 2.5rem;
  font-family: "Raleway";
}

h3 {
  font-size: 2rem;
  font-family: "Raleway";
}
