@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

:root {
  --linkColor: #fff;
  --navColor: #003300;
  --navHover: #00e676;
  --btnColor: #228b22;
  --btnColor2: #ffd700;
  --headColor2: #ffd700;
  --headColor3: #c0c0c0;
  --heroBg: #003300;
  --teamColor: #43a047;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand";
}

h1 {
  font-size: 3rem;
  font-family: "Raleway";
}

h2 {
  font-size: 2.5rem;
  font-family: "Raleway";
}

h3 {
  font-size: 2rem;
  font-family: "Raleway";
}

h4 {
  font-size: 1.5rem;
  font-family: "Raleway";
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

button {
  color: var(--linkColor);
  background-color: var(--btnColor);
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 0.9rem 1.1rem;
  box-shadow: 0px 13px 24px -7px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
button:hover {
  color: black;
  background: var(--btnColor2);
  box-shadow: 0px 17px 16px -11px #ffd700;
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }
}
